<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 상세보기</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Quill.js 스타일 추가 -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
  <h1 class="mb-4" th:text="${board.title}">게시글 제목</h1>
  <div class="mb-3">
    <label class="fw-bold">작성자:</label>
    <span th:text="${board.author}">작성자</span>
  </div>
  <div class="mb-3">
    <label class="fw-bold">작성일:</label>
    <span th:text="${board.createdAt}">2025-01-16</span>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">내용</label>
    <div id="smartEditor">
      <textarea name="content" id="content" class="d-none"></textarea>
      <input type="file" id="editorFiles" name="editorFiles" style="display: none;">
      <input type="hidden" id="isEditorFileChanged" name="isEditorFileChanged">
    </div>
  </div>
  <div class="mb-3">
    <label class="fw-bold">첨부파일:</label>
    <ul>
      <li th:each="file : ${board.attachFilesMetaData}">
        <a th:href="'/quill/fileDownload/' + ${file.fileName}" th:text="${file.fileOriginName}"></a>
      </li>
    </ul>
  </div>
  <a href="/quill/list" class="btn btn-secondary">목록으로</a>
  <button class="btn btn-primary">수정</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/smartEditor2/js/HuskyEZCreator.js}" charset="utf-8"></script>
<script th:inline="javascript">
  let oEditors = [];
  $(document).ready(function() {
    const content = [[ ${board.content} ]];

    nhn.husky.EZCreator.createInIFrame({
      oAppRef: oEditors,
      elPlaceHolder: "content",
      sSkinURI: "/smartEditor2/SmartEditor2Skin.html",
      htParams: {
			bUseToolbar: false,	
			bUseVerticalResizer: false,	
			bUseModeChanger: false	
		  },
      fCreator: "createSEditor2",
      fOnAppLoad : function() {
        oEditors.getById['content'].exec("PASTE_HTML", [content]);
        const editor = oEditors.getById["content"];
        editor.exec("DISABLE_WYSIWYG");
        editor.exec("DISABLE_ALL_UI");
      }
    });
  });
</script>
</body>
</html>
