<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dali186.template_lab.quill.mapper.QuillMapper">
    <select id="getBoardList" resultType="com.dali186.template_lab.quill.dto.BoardDto">
        SELECT * FROM board
    </select>

    <insert id="registerBoard" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board (title, content, author, created_at, updated_at)
        VALUES (#{title}, #{content}, #{author}, NOW(), NOW())
    </insert>

    <select id="getBoardById" parameterType="int" resultType="com.dali186.template_lab.quill.dto.BoardDto">
        SELECT * FROM board WHERE board_id = #{boardId}
    </select>

    <update id="modifyBoard" parameterType="com.dali186.template_lab.quill.dto.BoardDto">
        UPDATE BOARD
        SET TITLE = #{title},
        CONTENT = #{content},
        AUTHOR = #{AUTHOR},
        UPDATED_AT = NOW()
    </update>

    <delete id="deleteBoardById" parameterType="int">
        DELETE FROM DELETE
        WHERE BOARD_ID = #{boardId}
    </delete>

    <select id="getBoardFileList" parameterType="String" resultType="com.dali186.template_lab.quill.dto.BoardFileDto">
        SELECT * FROM FILE WHERE board_id = CAST(#{boardId} AS SIGNED) AND type = #{type}
    </select>

    <insert id="registerFile">
        INSERT INTO FILE (type, board_id, file_origin_name, file_name, file_path, uploaded_at)
        VALUES (#{type}, #{boardId}, #{fileOriginName}, #{fileName}, #{filePath}, NOW())
    </insert>
</mapper>
